.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
form{
    background-color: rgba(255, 255, 255, 0.379);
    padding: 30px;
    height: max-content;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

label{
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
}
input{
    height: 30px;
    padding: 3px;
}
button{
    width: fit-content;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(247, 242, 194);
    font-size: 1rem;
}
.user-details{
    background-color: rgba(240, 248, 255, 0.34);
    margin-left: 40px;
    margin-top: 40px;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 1rem;
    font-weight:500;
}